table {
  width: auto !important;
  height: auto !important;
  margin: 0px auto 0px auto;
}


.not-show-white {
  color: white;
  background-color: white;
}

td {
  text-align: center !important;
}


.alert {
  width: 90%;
  max-width: 800px;
  margin: 20px auto 10px auto;
  text-align: center;
}

h1 {
  text-align: center;
}

body {
  margin-bottom: 100px;
}